@page "/"

<PageTitle>Index</PageTitle>

<h1 align="center">Atlantic Video Library </h1>
<h4 align="center">Rare video collection</h4>
<img src="/Images/atlanticVideoLibraryWallpaper.jpg" asp-append-version="true" width="1000px" style="display: block;margin-left: auto;margin-right: auto;" />
<SurveyPrompt Title="Any enquiries?"/>
